$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-design: "\e90c";
$icon-education: "\e921";
$icon-category: "\e92f";
$icon-tag: "\e935";
$icon-email: "\e945";
$icon-location: "\e94b";
$icon-calendar: "\e953";
$icon-phone: "\e959";
$icon-link: "\e9cb";
$icon-arrow-up: "\ea41";
$icon-arrow-right: "\ea42";
$icon-arrow-down: "\ea43";
$icon-arrow-left: "\ea44";
$icon-coding: "\ea80";
$icon-facebook: "\e900";
$icon-instagram: "\e901";
$icon-linkedin: "\e904";
$icon-twitter: "\e902";
$icon-youtube: "\e903";

